# Hidden files
.*

# Large or unneeded dirs
assets/
configs/
datasets/
scripts/
web-demos/
results/
outputs/

# Dev files not needed in image
requirement.txt
train.py
test_input.json
LICENSE
README.md
